%h1 New Restaurant
- if flash[:error].present?
  .error= flash[:error]
= form_for @restaurant do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :description
    = f.text_area :description, :size => '40x4'
  %div
    = f.label :city_id
    = f.collection_select(:city_id, @cities, :id, :name)
  = f.submit 'Save'
